# gcc coverage testing tool files

*.gcno
*.gcda
*.gcov
Makefile
*COPYING
ChangeLog
INSTALL
aclocal.m4
ar-lib
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
tags
*.log
compile
configure.scan
c.in
*Makefile
*.in
*.a
*.o
*.deps
*.out
cpp/server/src/server
